
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9671f1;
  padding: 16px; /* Adds a bit of breathing room on small devices */
  box-sizing: border-box;
}

.landing-logo {
  max-width: 400px;
  width: 80%;
  min-width: 150px;  /* Don't let the logo shrink too much */
}
